<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.name %></h1>
    <p>
      Your login credentials 
    </p>
    <p>Login ID: <%= @user.email %></p>
    <p>Login Password: <%= @user.name %>#123</p>
    <p>Follow the following link to login: <a href="https://guhd.herokuapp.com/logins">click</a></p>
  </body>
</html>
